@charset "UTF-8";
h1 { 
    color: black;
    font-size: 50px;
  }
body{
    background-color: #008b8b;
}
table{
    border: 1px solid gray;
    width: 1000px;
    height: 100px;
    font-size: 30px; 
}